{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "BracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none"
}
